.question__block {
  padding: 20px;
  border-radius: 20px;
  max-width: 100%;

  justify-content: center;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
