.nav_menu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: -280px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  transition: transform 0.3s linear;
}

.nav_menu.active {
  transform: translateX(100%);
}

.nav_menu__list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav_menu__block_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
