.header {
  width: 100%;
  height: 72px;
  padding: 16px;
  background-color: #f8f8f8;
}

.header__block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__profile {
  align-items: center;
  display: flex;
  gap: 16px;
}
.header__vector {
  padding: 10px;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 30px;
  }
}

@media (max-width: 360px) {
  .header {
    padding: 10px;
  }
}
