.tag_name {
  padding: 6px 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  display: flex;
  gap: 5px;
}

.number {
  background-color: #6a0bff;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  width: 600;
  font-size: 14px;
}
